$size: 100px;
$days: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  font-size: 30px;
}

body {
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: $size auto;
  width: 7 * $size + 7px;

  div {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1px;
    margin-left: 1px;
    width: $size;
    height: $size;

    background: #eee;
    border: 1px solid black;
    transition: background-color 0.5s, transform 0.5s;

    &:hover {
      background: pink;
      transform: translateY(-20px);
      cursor: pointer;

    }
  }

}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@each $day, $num in $days {
  .calendar-#{$day} div:first-child {
    margin-left: $size * $num + $num +1;
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} div:nth-child(#{$i}) ~ div {
    display: none;
  }
}
